<% content_for :page_banner do %>
  <h1>Contact</h1>
  <p>Who you gonna call</p>
<% end %>

<div id="" class="vcard">
  <div class="org"><strong>The Carlyle</strong></div>
  <a class="email" href="mailto:supervisor.carlyle@gmail.com">supervisor.carlyle@gmail.com</a>
  <div class="adr">
    <div class="street-address">Suite 301 - 1060 Alberni St.</div>
    <span class="locality">Vancouver</span>,
    <span class="region">BC</span>,
    <span class="postal-code">V6E4K2</span>
    <span class="country-name">Canada</span>

  </div>
  <strong>Office:</strong> <a href='tel:16046825224' class="tel">(604) 682-5224</a><br/>
  <strong>Fax:</strong> <a href='tel:16046825224' class="tel-fax">(604) 683-5410</a>
</div>

<div id="" class="vcard">
  <div class="org"><strong>RE/MAX dWell Property Management</strong></div>
  <div class="adr">
    <div class="street-address">Suite 270 – 4311 Viking Way</div>
    <span class="locality">Richmond</span>,
    <span class="region">BC</span>,
    <span class="postal-code">V6V 2K9</span>
    <span class="country-name">Canada</span>
  </div>
  <strong>Office:</strong> <a href="tel:16048212999" class="tel">(604) 821-2999</a> <br/>
  <strong>Fax:</strong> <a href="tel:16048211822" class="tel-fax">(604) 821-1822</a>
</div>

<div id="hcard-Kim-Lancaster" class="vcard">
  <strong>Strata Agent:</strong> <span class="fn">Kim Lancaster</span>
  <a class="email" href="mailto:kim.lancaster@dwellproperty.ca">kim.lancaster@dwellproperty.ca</a><br/>
  <strong>Direct:</strong> <a href="tel:16042483632" class="tel">(604) 248-3632</a><br/>
  <strong>After Hours Emergency:</strong> <a href="tel:6048212999" class="tel">(604) 821-2999</a>
</div>
