<% content_for :page_banner do %>
  <h1>Contact</h1>
  <p>Who you gonna call</p>
<% end %>

<div id="" class="vcard">
  <div class="org"><strong>The Carlyle</strong></div>
  <a class="email" href="mailto:supervisor.carlyle@gmail.com">supervisor.carlyle@gmail.com</a>
  <div class="adr">
    <div class="street-address">Suite 301 - 1060 Alberni St.</div>
    <span class="locality">Vancouver</span>,
    <span class="region">BC</span>,
    <span class="postal-code">V6E4K2</span>
    <span class="country-name">Canada</span>

  </div>
  <strong>Office:</strong> <span class="tel">604-682-5224</span><br/>
  <strong>Fax:</strong> <span class="tel-fax">604-683-5410</span>
</div>


<div id="" class="vcard">
  <div class="org"><strong>Ascent Real Estate Management Corporation</strong></div>
  <div class="adr">
    <div class="street-address">2176 Willingdon Ave.</div>
    <span class="locality">Burnaby</span>,
    <span class="region">BC</span>,
    <span class="postal-code">V5C 5Z9</span>
    <span class="country-name">Canada</span>
  </div>
  <strong>Office:</strong> <span class="tel">604-431-1800</span> <br/>
  <strong>Fax:</strong> <span class="tel-fax">604-431-1818</span>
</div>

<div id="hcard-Ken-Dahl" class="vcard">
  <strong>Strata Agent:</strong> <span class="fn">Ken Dahl</span>
  <a class="email" href="mailto:kdahl@ascentpm.com">kdahl@ascentpm.com</a><br/>
  <strong>Direct:</strong> <span class="tel">604-293-2431</span><br/>
  <strong>After Hours Emergency:</strong> <span class="tel">604-293-2459</span>
</div>

