<% content_for :page_banner do %>
  <div id='home_banner'>
    <%= image_tag('logo_white.png', :style => 'max-width: 574px; width: 100%;') %>
    <h1>The Carlyle</h1>
    <p>Gracious Living in the Heart of Downtown</p>
  </div>
<% end %>
