<% content_for :page_banner do %>
  <h1><%= @locker %></h1>
<% end %>

<dl class="dl-horizontal">
  <dt>Rented to</dt>
  <dd><%= record_list @locker.suite, :namespace => :admin %></dd>
</dl>

<%= render 'admin/notifications/table', :notifications => Crier::Notification.about(@locker) %>
