<ol class='unstyled'>
  <% documents.each do |document| %>
  <li>
    <%= link_to document.name, [:owner, document], :target => '_blank' %>
    <%= simple_format document.description if document.description? %>
  </li>
  <% end %>
</ol>
